@import "style";


/*
 FUCTIONS
 */
@import "functions";

/*
 SETTINGS
 */
//@import "var/settings.article";
@import "var/settings.fonts";
@import "var/settings.colours";
@import "var/settings.defaults";
@import "var/settings.shadows";
@import "var/settings.headings";
@import "var/settings.widths";
@import "var/settings.responsive";



/*
 INUIT FRAME WORK
 */
@import "inuit";
@import "tools/tools.aliases";



/*
  UTILITIES OLD
*/

@import "mixins";
@import "helpers";
@import "base";
@import "var/settings.article";
@import "var/settings.fonts";
@import "typography";
@import "accessibility";
@import "placeholders/off-page";
@import "placeholders/cf";

/*
  UTILITIES
*/
@import "utilities";


/*
  OBJECTS
*/
@import "objects";
@import "objects/o-btn";

/*
  COMPONENTS
*/
@import "components";


@import "modules/page";
@import "modules/site";
@import "modules/content";
@import "modules/feature-cat";
@import "modules/btn";
@import "modules/hero";
@import "modules/post";
@import "modules/post-meta";
@import "modules/post-type";
@import "modules/single-article";
@import "modules/single-page";
@import "modules/video-embed";
@import "modules/comments";
@import "modules/comment-respond";
@import "modules/response";
@import "modules/footer";
@import "modules/widget_act_company_address";
@import "modules/navigation";
@import "modules/subsidiary";
@import "modules/image-menu-item";
@import "modules/contact-form";


@import "var/settings.widths";




