/*
 *
 */

$act-font-family-sans: Arial, "Helvetica Neue", Helvetica, sans-serif;
$act-font-family-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$act-font-family-alt: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$act-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$act-font-family-headings: $act-font-family-serif;

