/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$brand-col-1 : $act-grey;
$brand-col-2 : $act-grey-light;
$brand-col-3 : $act-grey-dark;
$brand-col-4 : $act-grey;
$brand-col-5 : $act-grey-light;
$brand-col-6 : $act-grey-dark;
$brand-col-7 : $act-grey;
$brand-col-8 : $act-grey-light;
$brand-col-9 : $act-grey-dark;

