/*
BEM BLOCK .c-site-title
 */

.c-site-title{
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width:100%;
  text-align: center;
}

/*
BEM BLOCK MODIFIERS .c-site-title
 */

[class*="site-title--"]{
  @extend .c-site-title;
}

.c-site-title--{
  &page{
     margin-left: auto;
     margin-right: auto;
     @include mq($from: tablet){
       margin-left: auto;
       margin-right: auto;

     }
   }
  &text{
    @include size(auto);
    @include mq($from: tablet){
      @include size(auto);
    }
  }
  &upload{
    margin: 0 auto;
  }
}

/*
BEM ELEMENTS .c-site-title
 */

.c-site-title__{
  &heading{
    line-height:1;
  }
  &link{
    display: block;
    color: white;
    text-decoration: none;
    &:hover,&:focus{
      color: white;
    }
  }
  &img{
    display: block;
  }
  &description{
    font-family: $act-font-family-serif;
    color: $brand-col-1;
    font-weight: 100;
    @include act-font-size(14px);
    line-height: 1;
    margin: 0;
    .home &{
      @include mq(desktop) {
        line-height: 1.7;
        color: $brand-col-1;
      }
    }
    .page-template-template-banner-php &{
      @include mq(desktop) {
        line-height: 1.7;
        color: $brand-col-1;
      }
    }
  }
}

