/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &primary {
   @include act-font-size($inuit-font-size-h6, 1.3);

  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
 &list{
   @extend .o-list-bare;
   margin-bottom: 0;
   justify-content: flex-end;
 }
  &link{
    text-decoration: none;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &primary{
  @extend .o-list-flex--center;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item !optional;
}

.c-nav-menu__item--{
  &primary{
    margin-right: $act-unit-t;
    margin-left: $act-unit-t;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link !optional;
}

.c-nav-menu__link--{
  &primary{
    padding:$act-unit-t / 2;
    display: block;
    color: $brand-col-2;
    &:hover{
      color: $brand-col-2;
    }
  }
  &mobile{
    padding:$act-unit-s;
    display: block;
    color: white;
    background-color: darken($brand-col-3, 15%);
    &:hover{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
    &:focus{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
  }
}

.c-nav-menu__link--{
  &mobile{
    margin-bottom: $act-unit-s;
  }
}