.btn--menu{
  position: fixed;
  top: 1em;
  border: 0;
  right: 1em;
  background: none;
  font-size: 14px;
  font-size: 0.875rem;
  width: 3.2em;
  height: 3.2em;
  z-index: 99999;
  transition: right 0.3s 0s cubic-bezier(0.6, 0.72, 0.38, 1.08);
  background: rgba($brand-col-1, 0.2);
  &[data-state=on]{
    //transition: right 0.3s 0.1s cubic-bezier(0.6, 0.72, 0.38, 1.08);
    //right: 14rem;
  }
  @include mq($from : desktop){
    display: none;
  }
}
.btn--menu__bar {
  transition: transform 0.1s linear;
  position: absolute;
  width: 1.1em;
  height: 0.2em;
  background-color: #fff;
}
.btn--menu__bar--tl{
  @extend .btn--menu__bar;
  transform-origin: 0.4em 0.1em;
  top: 0.8em;
  left: 0.5em;
  [data-state=on] &{
    transform: rotate(45deg) translate(0.3em, 0);
  }
}
.btn--menu__bar--tr{
  @extend .btn--menu__bar;
  transform-origin: 0.7em 0.1em;
  top: 0.8em;
  right: 0.5em;
  [data-state=on] &{
    transform: rotate(-45deg) translate(-0.3em, 0);
  }
}
.btn--menu__bar--m{
  @extend .btn--menu__bar;
  transform-origin: 1.1em 0.1em;
  top: 50%;
  left: 0.5em;
  width: 2.2em;
  margin-top: -0.1em;
  [data-state=on] &{
    transform: scale(0, 1);
  }
}
.btn--menu__bar--bl{
  @extend .btn--menu__bar;
  transform-origin: 0.4em 0.1em;
  bottom: 0.8em;
  left: 0.5em;
  [data-state=on] &{
    transform: rotate(-45deg) translate(0.3em, 0);
  }
}
.btn--menu__bar--br{
  @extend .btn--menu__bar;
  transform-origin: 0.7em 0.1em;
  bottom: 0.8em;
  right: 0.5em;
  [data-state=on] &{
    transform: rotate(45deg) translate(-0.3em, 0);

  }
}