.comments{
  max-width: $article-max-width;
  margin: 0 auto;
}

.comments__{
  &wrapper{
    display: block;
    padding:$inuit-global-spacing-unit-small 0;
    margin-bottom:$inuit-global-spacing-unit;
    background: #eee;
    @include mq($from : tablet){
      padding:$inuit-global-spacing-unit;

    }
  }
  &heading{
    display: block;
    padding: 0 $inuit-global-spacing-unit;
    margin-bottom:  $inuit-global-spacing-unit-small;
    @include mq($from : tablet){
      padding:0;
      margin-bottom:  $inuit-global-spacing-unit;
    }
  }
  &list{
    margin: 0;
    margin-bottom:$inuit-global-spacing-unit;
  }
  &item{
    list-style: none;
    background: #ddd;
    margin-bottom: $inuit-global-spacing-unit;
    padding-bottom: $inuit-global-spacing-unit;
  }
}

[class*=comments__wrapper--]{
  @extend .comments__wrapper;
}

[class*=comments__heading--]{
  @extend .comments__heading;
}

[class*=comments__list--]{
  @extend .comments__list;
}

[class*=comments__item--]{
  @extend .comments__item;
}

.comments__wrapper--{
  &responses{
    margin-bottom:0;
    border-bottom:solid #ccc;
  }
}

.comments__item--{
  &children{
    margin: 0 0 $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small;
    background: #fff;

    @include mq($from : tablet, $until : desktop){
      margin: 0 0 $inuit-global-spacing-unit $inuit-global-spacing-unit;

    }
    @include mq($from : desktop){
      margin: 0 $inuit-global-spacing-unit $inuit-global-spacing-unit $inuit-global-spacing-unit-large;

    }
  }
}