.comment-form{
  padding: 0 $inuit-global-spacing-unit-small;
  max-width: 800px;
  margin: 0 auto;
}

.comment-form{
  &__notes{
    margin-bottom: $inuit-global-spacing-unit;
    padding: $inuit-global-spacing-unit-small / 2 $inuit-global-spacing-unit-small;
    background: #fff;
    @include inuit-font-size($milli-size);
  }
  &__comment{
    margin-bottom: $inuit-global-spacing-unit-small;
  }

  textarea{
    border: solid 5px rgba(#000, 0.2);
    padding: $inuit-global-spacing-unit-small /2 $inuit-global-spacing-unit-small;
    @include inuit-font-size($inuit-small-print);
    width: 100%;
  }
  input:not([type=submit]){
    border: solid 5px rgba(#000, 0.2);
    padding: $inuit-global-spacing-unit-small /2 $inuit-global-spacing-unit-small;
    @include inuit-font-size($inuit-small-print);
    width: 100%;
  }

  label{
    display: block;
    @include inuit-font-size($inuit-small-print);
  }
  p{
    margin-bottom: $inuit-global-spacing-unit-small;
  }
  a{
    //@extend %link-style--1;
  }

}
.comment-form__submit-wrapper{
  @extend .clearfix;
  padding: $inuit-global-spacing-unit-small 0;
}
.comment-form__submit{
  //@extend .btn--cta1;
  display: inline-block;
  float: right;
}