/*
  BEM BLOCK .contact-form
 */

.contact-form {
  display: block;
  background: rgba($brand-col-1, 0.1);
  padding: $inuit-global-spacing-unit-tiny !important;
  width: 400px;
  max-width: 100%;
}

/*
  BEM BLOCK MODIFIER .contact-form--
 */

.contact-form-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .contact-form--

[class*=contact-form--] {
  @extend .contact-form;
}

/*
  BEM ELEMENTS .contact-form__
 */

.contact-form__ {
  &header{
    display: block;
  }
  &input-wrapper{
    display: block;
    margin-bottom:$inuit-global-spacing-unit-tiny;
  }
  &input{
    display: block;
    width: 100%;
    border: none;
    padding:$inuit-global-spacing-unit-tiny;
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

.contact-form__input-wrapper--{
  &submit{
    padding-top:$inuit-global-spacing-unit-small;
  }
}
//BEM ELEMENT MODIFIER FALLBACK .contact-form--

[class*=contact-form__header--] {
  @extend .contact-form__header;
}

[class*=contact-form__input-wrapper--] {
  @extend .contact-form__input-wrapper;
}

.wpcf7{
  @extend .contact-form;
}
.wpcf7-text{
  @extend .contact-form__input;
}
.wpcf7-textarea{
   @extend .contact-form__input;
 }
.wpcf7-submit{
  transition: background 0.3s ease;
  @extend .contact-form__input;
  padding:$inuit-global-spacing-unit-tiny;
  background: $brand-col-1;
  color: white;
  cursor: pointer;
  &:hover{
    background: darken($brand-col-1, 5%);
  }
}
.wpcf7-form-control-wrap{
  @extend .contact-form__input-wrapper;
}