/*
BEM BLOCK .hero
 */
.hero{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
}

/*
BEM ELEMENTS .hero__
 */
.hero__{
  &background{
    width:100%;
    height: 640px;
    position: absolute;
  }
  &background-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: saturate(10%);
  }
  &body{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    color: white;
  }
  &content{
    background: rgba($brand-col-3, 0.7);
    display: inline-block;
    padding: $act-unit-s;
    position: absolute;
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;
    max-width: 40%;
  }
 &menu{
  @extend .o-list-inline;
  text-align: center;
 }

}
