{% extends "base.twig" %}
{% set templateClass =  template ? '--'~template  : '' %}
{% set templateSlug = template ?  '-'~template  : '' %}

{% block before_head %}
  <!-- front-page.twig -->
  <!-- template - {{ template }} -->
  <!-- {{ hidePageTitle }} -->
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% include ['content/content-'~templateSlug~'.twig','content/content-single-page.twig',] %}
  {% endfor %}

{% endblock %}


  {% block subsidiary %}
    <section id="subsidiary" class="site__subsidiary">
      <div class="subsidiary">
      {% include 'inc/navigation-service.twig' %}
      </div>
    </section>
{% endblock %}






