{% if fn('is_front_page') %}
  <h1 class="c-site-title--text">
    <a class="c-site-title__link " href="{{ site.url }} " rel="home">
      {{ site.title }}
    </a>
  </h1>
{% else %}
  <span class="c-site-title--text">
    <a class="c-site-title__link " href="{{ site.url }} " rel="home">
      {{ site.title }}
    </a>
  </span>
{% endif %}